<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>Home</h3>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  header-->
  <div class="important-form">
    <ion-card>
      <ion-card-header>
        <h1>Eat better. <br>
          Lose weight. <br>
          Get Healthy.</h1>

          <ion-card-content>
            Fooducate empowers you to achieve your diet, health, and fitness goals.
          </ion-card-content>
      </ion-card-header>

    </ion-card>

  </div>
    <!-- Showing Images-->
<app-slide-image></app-slide-image>

<div class="foodContent">


<ion-card >
  <img src="assets/tinola.jpg" />
  <ion-card-header><b>HEALTHY TINOLA</b>
    <ion-card-subtitle>Best Dishes of the Week</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
      Tinola, a comforting chicken soup seasoned with plenty of ginger and garlic, has countless variations throughout the Philippines. The soup calls for malunggay leaves (aka moringa), which can be found fresh or frozen at Asian markets. Bok choy is a good substitute. Feel free to increase the amounts of garlic and fish sauce for an even more flavorful soup. Serve this easy and healthy chicken soup on its own or with jasmine rice, quinoa or wild rice.
    </ion-card-content>
    <ion-card-title>Ingredients</ion-card-title>

  <ion-card-content>
    I created this banner for a template that can use by the future clients.
  </ion-card-content>
</ion-card>



</div>
  </ion-content>
