<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>Home</h3>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Importance of eating healthys-->
  <div class="important-form">
    <ion-card>
      <ion-card-header>
        <h1>Eat better. <br>
          Lose weight. <br>
          Get Healty.</h1>

          <ion-card-content>
            Fooducate empowers you to achieve your diet, health, and fitness goals.
          </ion-card-content>
      </ion-card-header>

    </ion-card>

  </div>
    <!-- Showing Images-->
<app-slide-image></app-slide-image>
  </ion-content>
